<div class="col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title"><i class="fa fa-user-o"></i> Profile Info</h3>
    </div>
    <div class="panel-body feed">
      <section class="feed-item">
        <div class="card">
          <img class="card-img-top" src="../../assets/img/avartar.svg" alt="Card image cap" style="height: 200px; width: 200px">
          <div class="card-block">
            <h4 class="card-title">Name: {{ name }} </h4>
            <p class="card-text">Department: {{ department }}</p>
            <p class="card-text">Blood Group: {{ blood_group }}</p>
            <p class="card-text">Parent Number: {{ parent_number }}</p>
            <p class="card-text">Other Details: {{ other_details }}</p>
            <a href="#" class="btn btn-primary">More Details>></a>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
