<div style="background-color: white; padding: 10px; margin-top: 8px; background-image: url('../../assets/img/eservice.png')">
<app-navigation></app-navigation>
  <div class="mdc-layout-grid" style="margin-top: 50px">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-3-desktop">
        <app-notification></app-notification>
      </div>
      <div class="mdc-layout-grid__cell--span-6-desktop">
        <router-outlet></router-outlet>
      </div>
      <div class="mdc-layout-grid__cell--span-3-desktop">
       <app-profile-detail></app-profile-detail>
      </div>
    </div>
  </div>
</div>
